<div class="container">
  <div class="col-lg-4 col-md-4">
    <h2 ng-style="{ color: $ctrl.color }">Color</h2>
    <kendo-button ng-click="$ctrl.changeColorHandler({ newColor: 'red' });">red</kendo-button>
    <kendo-button ng-click="$ctrl.changeColorHandler({ newColor: 'gold' });">gold</kendo-button>
    <kendo-button ng-click="$ctrl.changeColorHandler({ newColor: 'lightgreen' });">green</kendo-button>
    <br />
    <br />
    <br />
  </div>
  <div class="col-lg-8 col-md-8">
    <ui-view style="width: 100%;"></ui-view>
  </div>
</div>
